<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">

        <h2>Complete animal form</h2>

        <%= simple_form_for @animal do |f| %>
        <%= f.input :name %>
        <%= f.input :category, collection:['Cat','Dog','Batrachian','Dinosaure','Other']%>
        <%= f.input :specie %>
        <%= f.input :age %>
        <%= f.input :price_hour %>
        <%= f.input :bio %>
        <%= f.input :address %>
        <%= f.input_field :photo %>

        <%= f.button :submit, class: "btn btn-primary" %>

        <% end %>
