<%= render "layouts/navbar" %>
<div class="card p-3">
<h3>Lists:</h3>
<%#= cl_image_tag("fighter jet", width: 400, height: 300, crop: :fill) %>

  <div class="row">
    <% @animals.each do |animal| %>
      <div class="card col-2 m-3" style="width: 18rem;">

          <img src= <%=  "#{animal.photo}" %> alt="" >
        </div>

      <div class="card-body">
        <h5 class="card-title"><%= animal.name %></h5>
        <%= link_to "More about", animal_path(animal.id), class: "btn btn-primary" %>
        <%= link_to "Delete", animal_path(animal.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>


      </div>
      </div>
    <% end %>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="pk.eyJ1IjoiamloYW5lamlpaSIsImEiOiJjbDhnM2Q4eXowM2Y0M3BwMmM0cGV2a2YzIn0.q-DEG9fibQC0mzodxg2NNQ">
</div>
