<%= render "layouts/navbar" %>
<div class="m-4 card-border">
  <div class="container info-card card-dem">
    <div class="row">
      <img src= <%=  "#{@animal.photo}" %>  alt="" class="picture col">
      <span class="info-top col">
        <h1><%= @animal.name %></h1>
        <h3><%= @animal.bio %></h3>
        <h3><%= @animal.address %></h3>
        <div class="info-bottom col-8 search-btns">
          <h5><strong><%= @animal.category %> - specie: <%= @animal.specie %> - age: <%= @animal.age %></strong></h5>
          <h5><strong><%= @animal.price_hour %>$/h</strong></h5>
          <%= link_to "Book!", "/animals/#{@animal.id}/bookings/new", class: "search-btn search-btn-main book" %>
        </div>
      </span>
    </div>
  </div>

    <div class="review-section card-dem" >
      <h2><strong>Customer Reviews⭐</strong> <span><%= pluralize @animal.reviews.size, "review"%></h2>


      <% if @animal.reviews.blank? %>
      Be the first to leave a review for <%= @animal.name %>
      <% else %>
        <% @animal.reviews.each do |review| %>
          <p><%= review.content %></p>
        <% end %>
      <% end %>
      <h1></h1>
      
      <%= simple_form_for([@animal, @review]) do |f| %>
        <%= f.input :content %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= link_to "Back to all animals", animals_path %>
      <%= link_to "Delete", animal_path(@animal.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "" %>
      <%= link_to "Update", edit_animal_path(@animal.id), class: "" %>
    </div>




</div>
