<%= render "layouts/navbar" %>

<div class="position-relative">
  <div class="card-category card-large">
    <img src= <%= @animal.image %> alt=<% @animal.name %> style="border-radius:8px;" width="400px" height="400px" text-align="center">
    <h1><%= @animal.name %></h1>
  </div>

  <div>
    <h3><%= @animal.bio %></h3>
  </div>



<%= link_to "Delete", animal_path(@animal.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>
<%= link_to "Update", animal_path(@animal.id), class: "btn btn-flat" %>
